@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Here are all the inventory sheets submitted today:</p>
        <table class="table">
            <tr>
                <th style="text-align:left;">Filename</th>
            </tr>

                @{
        var filelist = ViewData["files"] as IEnumerable<string>;
                }
                @foreach (string file in filelist)
        {
            <tr>
                <td>
                    @file
                </td>
            </tr>
                    }


        </table>
    </div>
